<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color:rgb(135, 137, 138);
        }
        a{
            color:rgb(135, 137, 138);
        }
        h3{
            color:rgb(135, 137, 138);
        }
        p{
            color:rgb(135, 137, 138);
        }
    </style>
</head>
<body>
    <div>
        <a href="/">Go to Home</a>
        <h3><%= f %></h3>
        <p><%= fd %></p>
    </div>
</body>
</html>